$header-gray: #86939E;
$header-gray-active: #43484D;
$hero-gray-main: #43484D;
$hero-gray-secondary: #5E6977;

$active-blue: #358ED7;
$gray-bg: #F9F9F9;
$gray-bg-dark-1: #5E6977;
$gray-bg-dark-2: #545E6B;
$check-color: #7DC855;
$pricing-outstanding-bg: #39ADD1;
$pricing-text-color: #86939E;
$footer-texts:rgba(255, 255, 255, 0.6);
