html, body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
header#main-header{
    position: relative;
    height: 100px;
    #fixed-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
        background: white;
        z-index: 10;
        ul, li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul.main-nav-logo,
        ul.main-nav{
            font-weight: 400;
            display: inline-block;
            height: 100px;
            li{
                display: inline-block;
                a{
                    color: $header-gray;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    padding: 0 20px;
                    height: 100px;
                    span{
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        transition: all 0.3s ease;
                        &:before{
                            position: absolute;
                            content: ' ';
                            width: 0%;
                            left: 50%;
                            background: $header-gray;
                            height: 2px;
                            bottom: 0;
                            transition: all 0.3s ease;
                        }
                    }
                   
                    &:hover{
                        span{
                            color: $header-gray-active;
                            &:before{
                                left: 0;
                                width:  100%;
                                color: $header-gray-active;
                            }
                        }
                    }
                }
                &.logo a span,
                &.close a span,
                &.buger-icon a span{
                    &:before{
                        content: '';
                        display: none;
                    }
                }
            }
        }
        ul.main-nav-logo{
            li.logo{
               a{
                    padding-left: 0; 
                    padding-right: 30px; 
               }
            }
        }
        ul.main-nav{
            li.close{
               display: none; 
            }
        }
    }

    @media (min-width: 768px) and  (max-width: 991px) { 
        #fixed-header{
            ul.main-nav-logo,
            ul.main-nav{
                li{
                    a{
                        // padding: 0px 1.2em;
                    }
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767px) { 
        #fixed-header{
            ul.main-nav-logo,
            ul.main-nav{
                font-size: 0.8rem;
                li{
                    a{
                        padding: 0px 12px;
                    }
                }
            }
        }
    }

    @media (min-width: 576px) { 
        #fixed-header{
            ul.main-nav-logo{
                li.buger-icon{
                    display: none;
                }
            }
            ul.main-nav{

            }
        }
    }
    @media (max-width: 575px) { 
        #fixed-header{
            ul.main-nav-logo{
                font-size: 1rem;
                width: 100%;
                li.buger-icon{
                    float: right;
                }
            }
            ul.main-nav{
                opacity: 0;
                pointer-events: none;
                transition: all ease 0.3s;
                position: fixed;
                width: 100%;
                height: 100%;
                background: white;
                top: 0;
                left: 0;
                z-index: 100;
                display: block; 
                padding: 5em 0 0;
                li{
                    display: block;
                    text-align: center;
                    &.close{
                        display: block;
                        position: absolute;
                        top: 1.6em;
                        right: 1.6em;
                        transition: all ease 0.6s;
                        opacity: 0.3;
                        a{
                            color: red;
                            transition: all ease 0.6s;
                            transform: translateY(-120%);
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: auto;
                            padding: 0;
                        }
                    }
                }
                &.active{
                    opacity: 1;
                    pointer-events: all;
                    li{
                        &.close{
                            opacity: 1;
                            a{
                                transform: translateY(0%);
                            }
                        }
                    }
                }
            }
        }
    }
}
footer.main-footer{
    background: $gray-bg-dark-2;
    padding: 40px 0 60px;
    .logo-area{
        color: $footer-texts;
        font-size: 16px;
    }
    .footer-lists{
        ul.footer-list{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                margin: 0;
                padding: 0;
                a{
                    color: $footer-texts;
                    position: relative;
                }
                strong{
                    color: white;
                }
            }
        }
    }
    .change-lang{
        color: $header-gray;
        text-align: right;
        width: 10em;
        float: right;
        select{
            border: none;
            background: none;
            color: $header-gray;
            display: inline-block;
            option{
                color: $header-gray;
            }
        }
    }
    @media (max-width: 575px) { 
        .logo-area{
            margin-bottom: 2rem;
        }
    }
    @media (max-width: 991px) { 
        .change-lang{
            margin-top: 3rem;
        }
    }
}
