.content-hero {
  text-align: center;
  p {
    display: block;
    margin: 0 0 1em;
    padding: 0;
    &.content-hero{
      &__main-slogan {
        color: $hero-gray-main;
        font-weight: 300;
        font-size: 52px;
        margin: 100px 0 20px;
      }

      &__secondary-slogan {
        color: $hero-gray-secondary;
        font-weight: 300;
        font-size: 22px;
        margin: 0 auto 60px;
        max-width: 660px;
      }
    }
  }
  img {
    margin: 0 0 60px;
  }
  @media (max-width: 767px){
    p {
      &.content-hero{
        &__main-slogan {
          font-size: 40px;
          margin: 80px 0 10px;
        }
        &__secondary-slogan {
          font-size: 18px;
          margin: 0 0 40px;
        }
      }
    }
    img {
      margin: 0 0 40px;
    }
  }
}
