.home-pricing {
  background: $gray-bg;
  text-align: center;

  p {
    display: block;
    margin: 0 0 1em;
    padding: 0;

    &.home-pricing {
      &__main-slogan {
        color: $hero-gray-main;
        font-weight: 300;
        font-size: 52px;
        margin: 100px 0 20px;
      }

      &__secondary-slogan {
        color: $hero-gray-secondary;
        font-weight: 300;
        font-size: 22px;
        margin: 0 auto 60px;
        max-width: 660px;
      }
    }
  }

  ul.list-group {
    background: none;

    li.list-group-item {
      border: 0;
      padding: 0.8em 0 0.8em 3em;
      text-align: left;
      position: relative;
      background: none;

      &.check {
        &:before {
          position: absolute;
          left: 0.7em;
          top: 0.7em;
          font-family: "FontAwesome";
          content: '\f00c';
          color: $check-color;
        }
      }

      &:nth-child(4) {
        opacity: 0.6;
        ;
      }

      &:nth-child(5) {
        opacity: 0.3;
        ;
      }
    }
  }

  .pricing-table-wrapper {
    height: 690px;
    margin-bottom: -140px;
    background: white;
    color: $pricing-text-color;

    .pricing-table {
      width: 100%;

      .list {
        height: 690px;
        text-align: center;


        .card-section-wrapper {
          padding: 1em;
          border: 0;
          border-bottom: 2px solid rgba(0, 0, 0, 0.15);
          background: none;
          width: 90%;
          margin: 0 auto;
          position: relative;

          .card-section {
            position: relative;
            top: 50%;
            transform: translateY(-50%);


            &__title {
              font-size: 14px;
              color: $active-blue;
              font-weight: 700;
            }

            &__subtitle {
              font-size: 15px;
            }

            &__cta {
              position: absolute;
              bottom: 0;
              width: 100%;
              left: 0;
              padding: 0;

              button.btn {
                display: block;
                width: 100%;
              }
            }

            &__price {
              span {
                display: block;
                text-align: center;

                &.number {
                  font-size: 52px;
                }

                &.label {
                  margin-bottom: 1em;
                }
              }
            }
          }

          &:nth-child(1) {
            height: 90px;
          }

          &:nth-child(2) {
            height: 240px;
          }

          &:nth-child(3) {
            border: none;
            height: 360px;

            .card-section {
              height: 100%;
            }
          }
        }

        &:nth-child(3) {
          background: $pricing-outstanding-bg;
          color: white;

          .card-section {
            &__title {
              color: white;
            }

            ul.list-group li.list-group-item:nth-child(4),
            ul.list-group li.list-group-item:nth-child(5) {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .pricing-table-wrapper {
      overflow-x: scroll;

      .pricing-table {
        width: 305%;
      }
    }
  }
}
