.last-cta {
  background: $gray-bg-dark-1;
  text-align: center;
  padding: 140px 0 110px;

  .brands-intro {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin: 40px auto 60px;
  }
  .logos-row{
    img{
      max-width: 80%;
      margin: 2em auto;
      display: block;
    }
  }
  .last-cta {
    &__main-slogan {
      color: $hero-gray-main;
      font-weight: 300;
      font-size: 52px;
      margin: 100px 0 20px;
      color: white;
    }

    &__secondary-slogan {
      color: $hero-gray-secondary;
      font-weight: 300;
      font-size: 22px;
      margin: 0 auto 60px;
      max-width: 660px;
      color: rgba(255, 255, 255, 0.8);
    }
  }


}
