.main-cases {
  .case-wrapper {
    h3.main-cases__subtitle {
      color: $hero-gray-main;
      font-size: 18px;
      font-weight: 400;
    }

    p.main-cases__description {
      color: $hero-gray-secondary;
      font-size: 16px;
      font-weight: 400;
    }

    // @media (max-width: 767px){
    @media (max-width: 1023px) {

      text-align: center;
      margin-bottom: 4em;

      img {
        display: block;
        margin: 0 auto 2em;
        max-width: 6em;
      }
    }

    @media (max-width: 767px) {
      margin-bottom: 2em;
      img {
        margin-bottom: 1.2em;
      }
    }
  }
}
