
.main-slider{
    background: url('../images/sections/home/laptop.png') left center no-repeat;
    background-size: auto 100%;
    height: 480px;
    margin: 100px 0 0;
    .home-slider-wrapper{
        height: 480px;
        .home-slider{
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .slick-dots{
        li{
            button:before{
                color: $header-gray;
            }
            &.slick-active{
                button:before{
                    color: $active-blue;
                }
            }
        }
    }
    .slick-arrow{
        &.slick-prev,
        &.slick-next{
            &:before{
                font-family: "FontAwesome";
                content: '\f053';
                color: $header-gray;
            }
            &:hover{
                &:before{
                    color: $active-blue;
                }
            }
        }
        &.slick-prev{
            left: -50px;
            &:before{
                content: '\f053';
            }
        }
        &.slick-next{
            right: -50px;
            &:before{
                content: '\f054';
            }
        }        
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        height: 340px;
        .home-slider-wrapper{
            height: 340px;
        }
    }
    @media (max-width: 991px) {
        background: none;
        height: auto;
        margin-bottom: 6em;
        .home-slider-wrapper{
            text-align: center;
            width: 90%;
            margin: 0 auto;
            height: auto;
            .home-slider{
                top: 0;
                transform: none;
            }
        }
    } 
}